# This workflow prepares package for publishing in Maven Central via the Sonatype Nexus OSS Repository - https://oss.sonatype.org

name: Release to Maven Central

on:
  workflow_dispatch:
    inputs:
      release_version:
        description: "Release version"
        required: true
        type: string

jobs:
  prepare-release:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'temurin'
        cache: maven

    - name: Save files for post-release step
      run: |
        mkdir -p "target/release-package/post-release"
        cp "pom.xml" "target/release-package/post-release/"

    - name: Switch to release version
      run: |
        mvn --batch-mode --show-version versions:set -DnewVersion=${{ inputs.release_version }}
        sed -i 's:<scm>:<scm><tag>vRELEASE_VERSION</tag>:' pom.xml

    - name: Build release artifacts
      run: mvn --batch-mode deploy -Prelease -DaltDeploymentRepository=local::default::file://$PWD/target/release-package/maven-repository -DdeployAtEnd

    - name: Save files for pre-release step
      run: |
        mkdir -p "target/release-package/pre-release"
        cp "pom.xml" "target/release-package/pre-release/"
        echo "VERSION: ${{ inputs.release_version }}" > "target/release-package/build.properties"
        echo "TAG: v${{ inputs.release_version }}" >> "target/release-package/build.properties"
        echo "REVISION: $GITHUB_SHA" >> "target/release-package/build.properties"
        echo -e "## Summary\n Version ${{ inputs.release_version }} is ready to be published" >> $GITHUB_STEP_SUMMARY
        env | sort
        echo "::notice file=pom.xml,line=1,endLine=5,title=Prepared::Prepared package for release ${{ inputs.release_version }}"

    - uses: actions/upload-artifact@v3
      with:
        name: "libtorch-bundle-${{ inputs.release_version }}.release-package"
        path: target/release-package
        if-no-files-found: error
